h1 {
    color: red;
}

div.sample {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

div.sample > a > img {
    width: 7em;
    height: auto;
    object-fit: cover;
}

div.sample > a > img:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}


main {
    margin-top: 8em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

main > .container {
    padding: 60px 15px 0;
}

div.mycard {
    margin: auto;
    width: 18rem;
}

.custom-img {
    width: 100%;
    max-width: 250px;
    height: auto;
}
