{% extends "baseBS.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Se connecter</h1>
    <div class="row">
        <!-- Colonne pour se connecter -->
        <div class="col-md-6">
            <form class="form-horizontal" role="form" method="POST" action="{{ url_for('login') }}">
                {{ form.hidden_tag() }}

                <!-- Gestion du champ Username avec gestion des erreurs -->
                <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(size=50, class_="form-control", placeholder="Entrez votre nom d'utilisateur") }}
                    {% if form.username.errors %}
                        <div class="alert alert-danger mt-2">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- Gestion du champ Password avec gestion des erreurs -->
                <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(size=50, class_="form-control", placeholder="Entrez votre mot de passe") }}
                    {% if form.password.errors %}
                        <div class="alert alert-danger mt-2">
                            {% for error in form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- Bouton de soumission -->
                <button type="submit" class="btn btn-primary mt-3">Connexion</button>
            </form>
        </div>

        <!-- Bouton pour créer un compte -->
        <div class="col-md-6 text-center">
            <h3>Vous n'avez pas de compte ?</h3>
            <a href="{{ url_for('register') }}" class="btn btn-secondary">Créer un compte</a>
        </div>
    </div>
</div>

{% endblock %}
